body{
  margin: 0px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #f1f3f6;
}

body::-webkit-scrollbar{
  display: none;
}

.offer {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 47%);
  justify-content: center;
  gap: 10px;
  /* height: 700px; */
  width: 98%;
  margin: auto;
  background-color: white ;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#dynamic1{
  margin-top: 10px;
}

.offer1 {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(1, 100%);
  justify-content: center;
  gap: 10px;

  /* height: 330px; */
  width: 98%;
  margin: auto;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
 
}

.offer1>div{

  margin-top: 5px;


}
.offer2 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(1, 100%);
  justify-content: center;
  gap: 10px;
  /* border: 1px solid black; */
  /* height: 170px; */
  width: 95%;
  margin: auto;
  margin-bottom: 30px;
   
 
}
.offer> div {

  align-content: center;
  margin-top: 10px;
}
 

.offer2 > div > img {
  width: 100%;
}
.content {
  /* height: 300px; */
  width: 98%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  overflow:scroll;
  background-color: white;



}
#slide {
   /* height: 340px;  */
  width: 98%;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 25px;
  margin-bottom: 105px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
#icici {
  width: 98%;
   /* height: 150px; */
  /* border: 1px solid red; */
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin-top: -100px;
  margin-bottom: 30px;
  
}


#container{
    width: 100%;
    /* border: 1px solid red; */

}

#container img{
    width: 100%;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}

.content{
    display: flex;
    text-align: center;
    gap: 50px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#recommend{

    width:500px;
   
    
}
#recommend img{
    width: 200px;
    box-shadow: none;
}

.content::-webkit-scrollbar{
    display: none;
}

#dynamic2 img{
    /* height: 170px; */
    width: 100px;
    
}

#dynamic4 img{
      /* height: 170px; */
    width: 125px;
    
}
#cate>div>img{
  box-shadow: none;
}
.bg-modal{
  width: 100%;
  /* height: 100%; */
  background-color: block;
opacity: 1;
  position: absolute;
  top: 0;
   display: flex;
   justify-content: center;
   margin-top: 6%;
}
.modal-content{
  width: 700px;
  /* height: 500px; */
  background-color:#2874f0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: flex;
  border-radius: 4px;
  position: relative;
 
}
.side{
  width: 40%;
}
.side>h3,h1{
  color: white;
  text-align: center;
}
.login{
  width: 60%;
  background-color: white;
}
.login>div{
padding: 40px;

}
form>input{
  display: block;
  width: 100%;
height: 40px;
margin-bottom: 30px;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;

  
}
textarea:focus, input:focus{
  outline: none;
}
#logs{
  background-color: tomato;
  color: white;
  width: 100%;
  height: 40px;
  border: transparent;
  font-size: 15px;
}
#log{
  background-color: tomato;
  color: white;
  width: 100%;
  height: 40px;
  border: transparent;
  font-size: 15px;
}
form>p{
  color: black;
  font-size: small;
}
.or{
  color: black;
  text-align: center;
}
p+button{
  width: 100%;
  height: 50px;
  background-color: white;
  color:#1b89dd;
  font-weight: 545;
  font-size: 15px;
  border: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
button+p{
  color: blue;
  font-size: 18px;
  margin-top: 50px;
  text-align: center;
}
.close{
 position:absolute; 
 top: 0;
 right: 14px;
 font-size: 42px;
 transform: rotate(45deg);
 cursor: pointer;
}
.side>img{
  width: 100%;
  height: 100%;
}
.signup>a{
  text-decoration: none;
  color: blue;
}
#slog{
  width: 100%;
  height: 50px;
  background-color: white;
  color:#1b89dd;
  font-weight: 545;
  font-size: 15px;
  border: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#slog>a{
  text-decoration: none;
  color: blue;
}
#log>a{
  text-decoration: none;
  color: rgb(231, 231, 235);
}
#cate{
 display: flex;
 gap: 30px;
background-color: white;
 margin: auto;
 margin-top: 65px; 
 justify-content: center;
 box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#cate>div>img{
  height: 50%;
  width: 50%;
  margin-left: 40px;
}
#cate>div>h4{
  text-align: center;
}
.bg-modal2{
  width: 100%;
  height: 100%;
  background-color: block;
opacity: 1;
  position: absolute;
  top: 0;
   display: flex;
   justify-content: center;
   margin-top: 6%;
}
.close2{
  position:absolute; 
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
 }

 .drop_down{
  color: #212121;
  position: relative;
  display: inline-block;
  display: flex;
 
}


.drop_down_content{
    display: none;

   
}




.drop_down:hover{
    color: #080691;
}

.drop_down:hover .drop_down_content{
    display: block;   
}

.drop_down_content{
    display: none;
    position: absolute;
    background-color: white;
    text-align: left;
    z-index: 1;
    border-top: none;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
    border-radius: 0 0 3px 3px;
   margin-top: 32px;
   min-width: 150px;
    white-space: nowrap;
    
    
}

.drop_down_content ul{
  list-style-type: none;
  margin: none;
}

.drop_down_content li{
    padding-top: 4px;
    margin: none;
}


.dropdown_first_heading{
    color: #757575;
    font-size: 13.2px;
   padding-top: none;
   padding-bottom: none;
    padding-right: 5px;
    padding-left: 20px;
    font-weight: 600;
}



#snav{
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 50px;
  /* z-index: 1; */
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#snav>div{
 margin-top: 10px;
}

#carticon  {
  height: 50px;
  color: white;
  margin-bottom: 29px;
  
}

.contenthead{
  margin-left: 20px;
}